/.github/                       export-ignore
/.phive/                        export-ignore
/test/                          export-ignore
/.editorconfig                  export-ignore
/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/.php-cs-fixer.php              export-ignore
/composer-require-checker.json  export-ignore
/infection.json                 export-ignore
/Makefile                       export-ignore
/phpunit.xml.dist               export-ignore
/psalm-baseline.xml             export-ignore
/psalm.xml                      export-ignore
